In [1]:
#all square patterns

In [10]:
#square of stars using while
n = int(input())
i = 0

while i <n:
    j = 0
    while j < n:
        print("*", end=' ')
        j+=1
    print()
    i +=1

5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [13]:
#square of stars using for loop
n = int(input())
for i in range(n):
    for j in range(n):
        print("*", end=' ')
    print()

5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [15]:
#To print square pattern with provided fixed digit in every row using while loop
n = int(input())
i = 0
while i < n:
    j = 0
    while j < n:
        print(str(i+1),end = " ")
        j = j+1
    print()
    i+=1

5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [16]:
#To print square pattern with provided fixed digit in every row using for loop
n = int(input())
for i in range(n):
    for j in range(n):
        print(str(i+1), end =" ")
    print()

5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [26]:
n = int(input("Enter the number of characters of want batman"))
i =0
while i < n:
    j = 0
    while j < n:
        print(chr(65+i),end = " ")
        j = j+1
    print()
    i+=1

Enter the number of characters of want batman5
A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [27]:
n = int(input("Enter the number of characters of want batman"))
i =0
while i < n:
    j = 0
    while j < n:
        print(chr(65+j),end = " ")
        j = j+1
    print()
    i+=1

Enter the number of characters of want batman5
A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [28]:
n = int(input("Enter the number of characters of want batman"))
i =0
while i < n:
    j = 0
    while j < n:
        print(chr(64+n-i),end = " ")
        j = j+1
    print()
    i+=1

Enter the number of characters of want batman5
E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [29]:
n = int(input("Enter the number of characters of want batman"))
i =0
while i < n:
    j = 0
    while j < n:
        print(chr(64+n-j),end = " ")
        j = j+1
    print()
    i+=1

Enter the number of characters of want batman5
E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

#Triangle Patterns

In [3]:
n = int(input())
i=0
while i<n:
    j=0
    while j <= i:
        print("*", end=' ')
        j+=1
    print()
    i+=1

5
*
* *
* * *
* * * *
* * * * *

In [4]:
n = int(input())
i = n
while i>0:
    j = i
    while j >0:
        print('*', end=" ")
        j-=1
    print()
    i-=1

5
* * * * *
* * * *
* * *
* *
*

In [7]:
n = int(input())
i=0
while i<n:
    j=0
    while j <= i:
        print(i+1, end=' ')
        j+=1
    print()
    i+=1

5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [8]:
n = int(input())
i = n
while i>0:
    j = i
    while j >0:
        print(i, end=" ")
        j-=1
    print()
    i-=1

5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [12]:
n = int(input())
i = n
while i>0:
    j = i
    while j >0:
        print(chr(65+i-1), end=" ")
        j-=1
    print()
    i-=1

5
E E E E E
D D D D
C C C
B B
A

In [14]:
n = int(input())
i=0
while i<n:
    j=0
    while j <= i:
        print(chr(65+i), end=' ')
        j+=1
    print()
    i+=1

5
A
B B
C C C
D D D D
E E E E E

#Total Pyramid patterns

In [19]:
n = int(input())
i = 0
while i <n:
    j = 0
    while j < n-i-1:
        print(" ", end='')
        j+=1
    k = 0 
    while k <=i:
        print("* ", end='')
        k+=1
    print()
    i+=1
'''
replace * with ==:> str(i+1)+" " 
to get this below pattern
    1 
   2 2 
  3 3 3 
 4 4 4 4 
5 5 5 5 5'''

7
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

'\nreplace * with ==:> str(i+1)+" " \nto get this below pattern\n    1 \n   2 2 \n  3 3 3 \n 4 4 4 4 \n5 5 5 5 5'

Inverted Diamond Patterns

In [21]:
n = int(input())
i = 0
while i<n:
    k = 0
    while k<i:
        print(" ", end='')
        k+=1
        
    j = 0
    while j < n-i:
        print("* ", end='')
        j+=1
    print()
    i+=1

5
* * * * *
 * * * *
  * * *
   * *
    *

Diamond Pattern

In [31]:
n = int(input())
i = 0
while i <n:
    j = 0
    while j < n-i-1:
        print(" ", end='')
        j+=1
    k = 0 
    while k <=i:
        print("* ", end='')
        k+=1
    print()
    i+=1
i = 0
while i<n:
    k = 0
    while k<i:
        print(" ", end='')
        k+=1
        
    j = 0
    while j < n-i-1:
        print(" *", end='')
        j+=1
    print()
    i+=1

5
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

Half Diamond Patterns

In [34]:
n = int(input())
i = 0
while i<n:
    j=0
    while j<=i:
        print("* ", end='')
        j+=1
    print()
    i+=1
i = 0 
while i < n-1:
    j = 0
    while j<n-i-1:
        print("* ",end='')
        j+=1
    print()
    i+=1

5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [42]:
n = int(input())
i = 0 
while i<n:
    j = 0
    while j<n-i-1:
        print(" ", end='')
        j+=1
    k = 0
    while k<=i:
        print("*", end='')
        k+=1
    print()
    i+=1
i = 0
while i<n:
    k = 0
    while k<=i:
        print(" ", end='')
        k+=1
    j = 0
    while j < n-i-1:
        print("*", end='')
        j+=1
    print()
    i+=1

5
    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [1]:
# Reading number of row
row = int(input('Enter number of row: '))

# Upper part of hollow diamond
for i in range(1, row+1):
    for j in range(1,row-i+1):
        print(" ", end="")
    for j in range(1, 2*i):
        if j==1 or j==2*i-1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

Enter number of row: 5
    *
   * *
  *   *
 *     *
*       *

In [7]:
n = int(input())
i = 0
while i<n+1:
    j =0
    while j<=n-i-1:
        print(" ",end='')
        j+=1
    k = 0
    while k<= 2*i:
        if k ==1 or k==2*i-1:
            print("*", end='')
        else:
            print(" ",end='')
        k+=1
    print()
    i+=1

5

     *
    * *
   *   *
  *     *
 *       *

In [11]:
'''
pattern of 
     1
    232
   34543
  4567654
'''

n = int(input())

for i in range(1,n+1,1):
    #printing for space
    for space in range(n-i):
        print(" ", end='')
    #for increasing pattern
    for num in range(i,2*i):
        print(num, end='')
    #for decreasing pattern
    for num in range(2*i-2,i-1,-1):
        print(num, end='')
    print()

4
   1
  232
 34543
4567654